<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Akrasia" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <header>
      <a class="fixed top-0 right-0" href="https://github.com/mittenin-at/bmi">
        <img alt="Fork me on GitHub" src="/images/fork_me_on_github.png" />
      </a>

      <nav class="flex justify-around bg-gray-100 shadow items-center p-2 mb-8">
        <div id="nav-left" class="flex m-3">
          <button id="hamburger-menu" class="hidden">
            <span class="sr-only">Toggle navigation</span>
            <svg class="h-6 inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
              <path d="M 4 7 L 4 9 L 28 9 L 28 7 Z M 4 15 L 4 17 L 28 17 L 28 15 Z M 4 23 L 4 25 L 28 25 L 28 23 Z"/>
            </svg>
          </button>
          <a class="text-2xl text-gray-500" href="/">BMI Monitor@mittenin.at</a>
        </div>

        <div id="nav-right" class="flex space-x-8">
          <a href="/?locale=de">DE</a>
          <a href="/?locale=en">EN</a>
          <%= render "_user_menu.html", conn: @conn, current_user: @current_user %>
        </div>
      </nav>
    </header>

    <div class="flex justify-center">
      <%= @inner_content %>
    </div>

    <footer class="flex bg-gray-100 p-4 space-x-8 justify-center w-full fixed bottom-0 border-1">
    <!-- a full-width fixed footer with subtle-gray-background and a small border,
         the elements are padded within the footer, and against each other and are horizontally centered -->
      <a href="http://bmi.mittenin.at">BMI Monitor </a> @ <a href="http://www.mittenin.at">Mittenin.at</a>
      <a href="./impressum.html">Impressum</a>
      <a href="./datenschutz.html">Datenschutz</a>
    </footer>
  </body>
</html>
