<h1 class="text-2xl">New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span>
  <%= link "Back",
    to: Routes.user_path(@conn, :index),
    class: "text-blue-700" %>
</span>
