<h1>Edit Weighting</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.weighting_path(@conn, :update, @weighting)) %>

<span><%= link "Back", to: Routes.weighting_path(@conn, :index) %></span>
